<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.igniterealtime.openfire.exampleplugin.ExamplePlugin</class>
   <name>Openfire Maven Plugin Example</name>
   <description>An example plugin that does nothing interesting</description>
   <author>Surevine</author>
   <version>4.2.1-SNAPSHOT</version>
   <date>2024-09-12</date>
   <minServerVersion>4.0.0</minServerVersion>
    <!-- And if it won't work after:
   <maxServerVersion>4.3.0</maxServerVersion>
   -->

   <adminconsole>
      <tab id="tab-server">
         <sidebar id="sidebar-server-settings">
            <item id="example-plugin-page" name="Example Plugin Properties" url="exampleplugin-page.jsp" description="Settings for Example Plugin" />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
